#header > object {
    width: 100%; height: 9vh;
}

#footer > object {
    width: 100%;
    height: 13vh;
}

#main > object, #lecture-search > object, #subject-pag > object, #mypage-pag > object, #signup-pag > object, #sbj-seacrch-pag object {
    width: 100%;
    height: 78vh;
}

a:hover {
    list-style: none;
}
